<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container">
        <h1>Shorten, Share, Track Your Links</h1>
        <p>Simplify your links and maximize your marketing potential.</p>
        <form action="/shorturl" method="post" class="shorten-url">
          <input
            type="text"
            name="url"
            placeholder="Paste your long URL here"
          />
          <button>Shorten URL</button>
        </form>
        <tr>
          <td></td>
        </tr>
        <p class="example">Example: short.ly/abc123</p>
      </div>
    </section>
  </body>
</html>
